In [2]:
import pandas as pd
import numpy as np
import tabula
import pymongo
import json
import os

from dotenv import load_dotenv
load_dotenv()

dbuser = "backend"
dbpass = os.environ["backend"]
dbconn = os.environ["connpython"]
origin = os.environ["origin"]

tabs = tabula.read_pdf(origin, pages="5", lattice=True, multiple_tables=True, java_options="-Dfile.encoding=UTF8",)
print(f"Found {len(tabs)} tables")

#---

df = tabs[0]
cid = list(df.columns.values)[0]
cname = list(df.columns.values)[1]

df.columns.values[0] = "Codigo"
df.columns.values[1] = "Atividade"
df.columns.values[2] = "Valor"
df.columns.values[3] = "Porc"
df["Classe"] = cname
df["Subclasse"] = ""

df['Codigo'] = df['Codigo'].fillna("")
df['Valor'] = df['Valor'].fillna("")
df['Porc'] = df['Porc'].fillna("")

doc = df.to_json(orient = "records")
doc = json.loads(doc)

conn = dbconn.replace("<username>", dbuser).replace("<password>", dbpass)
rs = pymongo.MongoClient(conn)

db = rs.legalfees
col = db.fees
col.insert_many(doc)

display(df)

In [3]:
df = tabs[1]
cid = list(df.columns.values)[0]
cname = list(df.columns.values)[1]

df.columns.values[0] = "Codigo"
df.columns.values[1] = "Atividade"
df.columns.values[2] = "Valor"
df.columns.values[3] = "Porc"
df["Classe"] = cname
df["Subclasse"] = ""

df['Codigo'] = df['Codigo'].fillna("")
df['Valor'] = df['Valor'].fillna("")
df['Porc'] = df['Porc'].fillna("")

doc = df.to_json(orient = "records")
doc = json.loads(doc)

conn = dbconn.replace("<username>", dbuser).replace("<password>", dbpass)
rs = pymongo.MongoClient(conn)

db = rs.legalfees
col = db.fees
col.insert_many(doc)

display(df)

In [6]:
df = tabs[2]
cid = list(df.columns.values)[0]
cname = list(df.columns.values)[1]

df.columns.values[0] = "Codigo"
df.columns.values[1] = "Atividade"
df.columns.values[2] = "Valor"
df.columns.values[3] = "Porc"
df["Classe"] = cname
df["Subclasse"] = ""

df['Codigo'] = df['Codigo'].fillna("")
df['Valor'] = df['Valor'].fillna("")
df['Porc'] = df['Porc'].fillna("")

doc = df.to_json(orient = "records")
doc = json.loads(doc)

conn = dbconn.replace("<username>", dbuser).replace("<password>", dbpass)
rs = pymongo.MongoClient(conn)

db = rs.legalfees
col = db.fees
col.insert_many(doc)

display(df)

,Codigo,Atividade,Valor,Porc,Classe,Subclasse
0,3.1,Inicial ou contestação e audiência,"R$ 1.156,23",20%,Atividade,
1,3.2,Atuação em segunda instância,"R$ 867,18",10%,Atividade,
2,3.3,Sustentação oral perante turmas recursais,"R$ 867,18",10%,Atividade,